.title-header {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: 100px auto 0;
    gap: 10px;
}

#search-box {
    width: 400px;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #218838;    
    color: white;
    border: 0;
    outline: 0;
    padding: 10px 15px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #1e7e34;
}

#show-more-button {
    display: none;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-results {
    width: 80%;
    margin: 100px auto 50px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#search-results img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
    margin: 5px;
}

.hidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
