.circle {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    top: 50%;
    left: 50%;
    z-index: 1; 
    transition: width 0.4s, height 0.4s; 
    transform: translate(-50%, -50%);
}

.circle:hover {
    width: 125px;
    height: 125px;
    cursor: pointer;
}

.another-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color: grey;
    border-radius: 50%;
}